* {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #008001;  
}

.header {
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  padding: 100px;
  text-align: center;
}



.current-color {
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  max-width: fit-content;
  margin: 15px auto;
  font-size: large;
}

.random-color{
  background-color: cadetblue;
  padding: 8px;
  max-width: fit-content;
  font-size: 20px;
  border-radius: 10px;
  margin: 15px auto; 
  border: 2px solid #000000;
  cursor: pointer;  
}

.apply-color {
  background-color: cadetblue;
  padding: 8px;
  max-width: fit-content;
  font-size: 20px;
  border-radius: 10px;
  margin: 15px auto; 
  border: 2px solid #000000;
  cursor: pointer;  
}
button:active{
  scale: 0.95;
  transition: scale 0.1s;
}

.color-input {
  background-color: #fff;
  padding: 8px;
  border: 2px solid #000000;
  border-radius: 10px;
  max-width: 100%;
  margin: 15px 10px 0 10px; 
  font-size: large;
}

div > * {
  margin: 10px;
}



